spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: discovery-service
server:
  port: ${SERVER_PORT}
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false