server:
  port: ${SERVER_PORT}

spring:
  application:
    name: api-gateway

  cloud:
    config:
      enabled: false

    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins: ${CORS_ALLOWED_ORIGINS}
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

      routes:
        - id: authentication-service
          uri: lb://authentication-service
          predicates:
            - Path=/auth/**,/oauth2/**,/login/oauth2/**

        - id: applicant-service
          uri: lb://applicant-service
          predicates:
            - Path=/api/v1/applicants/**

eureka:
  instance:
    hostname: ${EUREKA_INSTANCE_HOSTNAME}
    prefer-ip-address: ${EUREKA_PREFER_IP_ADDRESS}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE}
