server:
  port: ${PORT:8080}

spring:
  application:
    name: applicant-service

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka