server:
  port: ${PORT:8080}

spring:
  application:
    name: applicant-service

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  mongodb:
    uri: mongodb+srv://ungxuandat11092001_db_user:8ZaEZXpeGQ6Zpxbq@applicant.44pbxjf.mongodb.net/applicant-db?retryWrites=true&w=majority&appName=Applicant

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

cloudinary:
  cloud-name: your-cloud-name
  api-key: your-api-key
  api-secret: your-api-secret
